h1{
    left: 567px; top: 69px; position: absolute; 
    color: black; font-size: 40px; font-family: Inter; 
    font-weight: 700; word-wrap: break-word
}

p1{
    width: 92px; left: 216px; top: 490px; 
    position: absolute; color: white; 
    font-size: 36px; font-family: Inter;
     font-weight: 700; word-wrap: break-word
}

p2{
    left: 553px; top: 490px; position: absolute; 
    color: white; 
    font-size: 36px; font-family: Inter;
     font-weight: 700; word-wrap: break-word
}

p3{
    left: 1073px; top: 490px; position: absolute;
     color: white; 
    font-size: 36px; font-family: Inter; 
    font-weight: 700; word-wrap: break-word
}

#home{
    width: 51.25px; height: 51.25px;
     left: 4.37px; top: 4.37px; position: absolute;
     padding-left: 48px;
     padding-top: 63px;
}



  #gym101{
    width: 384px; height: 365px; 
    left: 60px; 
    top: 330px; position: absolute; 
    background: 
    linear-gradient(0deg, #32AAC5 0%, #32AAC5 100%); 
    border-radius: 8px
  }

  #gymbackround{
    width: 384px; height: 365px;
     left: 60px; top: 330px; 
     position: absolute;
    background: rgba(25.01, 48.06, 53.12, 0.75); 
    border-radius: 10px
} 

#music101{
    width: 384px; height: 365px;
     left: 922px; top: 330px;
      position: absolute;
     background: linear-gradient(0deg, #32AAC5 0%, #32AAC5 100%);
      border-radius: 8px
}

#bar101{
    width: 384px; height: 365px; 
    left: 491px; top: 330px;
     position: absolute; 
    background: linear-gradient(0deg, #32AAC5 0%, #32AAC5 100%); 
    border-radius: 8px
}

#musicbackround{
    width: 384px; height: 365px; 
    left: 491px; top: 330px;
     position: absolute;
     background: rgba(25.01, 48.06, 53.12, 0.75);
      border-radius: 10px
}

#barbackround{
    width: 384px; height: 365px;
     left: 922px;
     top: 329px; position: absolute; 
    background: rgba(25.01, 48.06, 53.12, 0.75);
     border-radius: 10px
}

