body {
  background-image: url('../images/background.svg');
  margin: 0;
}

h1 {
  font-family: inter;
  font-weight: 600;
  font-size: 80px;
  width: 955px;
  text-align: right;
  margin-left: 375px;
  margin-top: 87px;
  margin-bottom: 0px;
  line-height: 104%;
  color: #309AB1;
}

p {
  font-family: inter;
  font-weight: 600;
  font-size: 28px;
  margin-left: 795px;
  margin-top: 4px;
  color: black;
}

button {
  font-family: inter;
  font-size: 40px;
  font-weight: 700;
  padding: 17px 64px;
  border-radius: 40px;
  border: none;
  outline: none;
  color: #F6F6F6;
  background-color: #3CAEC6;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.myButton{
  text-align: center;
  margin-top: 563px;
}