.card {
    margin-top: 28px;
    margin-left: 163px;
    margin-right: 163px;
    width: 1040px;
    height: 94px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.container {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #d9d9d9;
    border-radius: 8px;
    padding-left: 50px;
    background-color: #fff;
    width: 1040px;
    height: 94px;
}

.header{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
}

input[type='image']{
    position: absolute;
    left: 48px;
    top: 63px;
    width: 51.25px;
    height: 51.25px;
}

h2 {
    text-align: right;
    margin-right: 220px;
    margin-top: 40px;
    font-family: 'Inter', sans-serif;
}

.flex{
    display: flex;
    line-height: 6px;
}

#warning{
    margin-top: 30px;
    margin-left: -40px;
}

#eventdesc{
    margin-left: 40px;
}

/*announcement title and date*/
h4 {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}


p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}


body{
    height: 1024px;
    width: 1366px;
}


/* Button */
.button-plus {
    position: absolute;
    width: 35px;
    height: 35px;
    background: #fff;
    cursor: pointer;
    border: 2px solid #32AAC5;
    border-radius: 20px;
    margin-left: 510px;
    margin-right: 163px;
    top: 86%;
    left: 48.5%;
}

.button-plus:after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 50%;
    background: #32AAC5;
    border-radius: 20px;
    top: 50%;
    left: 50%;
}

.button-plus:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #32AAC5;
    border-radius: 20px;
    height: 50%;
    width: 4px;
}

.button-plus:active:before,
.button-plus:active:after {
    background: #fff;
    transition: 0.2s;
}

.button-plus:active {
    background-color: #32AAC5;
    transition: 0.2s;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
  }


body {
    background-image: url(/images/bgannouncements.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#dropdown {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-top: 35px;
    margin-left: 1050px;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 8px;
    border-width: 2px;
}