h1 {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 700;
}


h2 {
  margin-right: 200px;
  margin-top: 40px;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-size: 20px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

#second {
  margin-left: 145px;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 600;
}

button {
  margin-left: 220px;
  border-radius: 34px;
  height: 66px;
  width: 176px;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  background-color: #32AAC5;
  color: white;
  border: solid;
  border-color: #32AAC5;
  border-width: 2px;
}

button:active {
  background-color: white;
  color: #32AAC5;
  transition: 0.2s;
  border: solid;
  border-color: #32AAC5;
  border-width: 2px;
}

#kitchenimg {
  margin-left: 145px;
  width: 517px;
  height: 522px;
}


#text {
  margin-left: 20px;
}

.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  margin-top: 151px;
}


.card {
  margin-left: 140px;
  width: 460px;
  height: 94px;
  cursor: pointer;
}

.card2 {
  margin-left: 80px;
  width: 460px;
  height: 94px;
  cursor: pointer;
}

.container {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #d9d9d9;
  border-radius: 8px;
  padding-left: 50px;
  background-color: #fff;
  width: 460px;
  height: 94px;
}

.flex {
  display: flex;
  line-height: 6px;
}

#warning {
  margin-top: 30px;
  margin-left: -40px;
}

#eventdesc {
  margin-left: 40px;
}

.flexdate{
  flex-wrap: wrap;
  justify-content: space-between;
}

button{
  margin-top: 30px;
  margin-left: 140px;
  font-weight: 500;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type='image']{
  position: absolute;
  left: 48px;
  top: 63px;
  width: 51.25px;
  height: 51.25px;
}

#back{
  position: absolute;
  left: 1268px;
  top: 63px;
  width: 38px;
  height: 43px;
}    